### We start with a dataset in .csv files

In [4]:
ls

CollegeScorecardDataDictionary-09-08-2015.csv*
MERGED1996_PP.csv
MERGED1997_PP.csv
MERGED1998_PP.csv
MERGED1999_PP.csv
MERGED2000_PP.csv
MERGED2001_PP.csv
MERGED2002_PP.csv
MERGED2003_PP.csv
MERGED2004_PP.csv
MERGED2005_PP.csv
MERGED2006_PP.csv
MERGED2007_PP.csv
MERGED2008_PP.csv
MERGED2009_PP.csv
MERGED2010_PP.csv
MERGED2011_PP.csv
MERGED2012_PP.csv
MERGED2013_PP.csv
Propublica1.ipynb
nic.ipynb
sedscript.bash

### We use a bash script to remove NULLs and PrivacySuppressed values

```sh
#!/bin/bash
unset LANG   # The first three files have strange formatting; this deals with it
for filename in MERG*.csv; do
	echo $filename
	sed -e "s/NULL//g" $filename > nonulls.csv
	sed -e "s/PrivacySuppressed//g" nonulls.csv >  clean_$filename
done
```

`$ bash sedscript.bash`

### This leaves us with a new set of .csv's, with empty values removed

In [3]:
# stuff to id the school for each subset of cols
schoolidvars = range(0,4)
schoolidvars

[0, 1, 2, 3]

In [4]:
# Cols for the school data

schoolvars = list(vars[vars['dev-category'].isin(['school', 'root'])].colnumber.values)

# Cost Related

costvars = list(vars[vars['dev-category'].isin(['cost'])].colnumber.values)

aidvars = list(vars[vars['dev-category'].isin(['aid'])].colnumber.values)

earningsvars = list(vars[vars['dev-category'].isin(['earnings'])].colnumber.values)

repaymentvars = list(vars[vars['dev-category'].isin(['repayment'])].colnumber.values)

studentvars = list(vars[vars['dev-category'].isin(['student'])].colnumber.values)

completionvars = list(vars[vars['dev-category'].isin(['completion'])].colnumber.values)

TypeError: 'builtin_function_or_method' object has no attribute '__getitem__'

In [8]:
costvars

[316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380]

In [9]:
# read in the cleaned types - no NULL string and no PrivacySuppressed
big = pd.read_csv('clean2013.csv')

/Users/lynn/miniconda/envs/pandas/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Do these: Replace the Categoric Vals in the Big Table

In [4]:
codes = pd.read_csv("CollegeScorecardDataDictionary-09-08-2015.csv", header=0)

In [5]:
nonnull = codes[codes['VALUE'].notnull()][codes['VALUE'] != ' ']

/Users/Nicolas/miniconda2/envs/csv/lib/python2.7/site-packages/pandas/core/frame.py:1997: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  "DataFrame index.", UserWarning)

In [6]:
categoric = nonnull.fillna(method="pad")  # fills empty cells with cell above

In [7]:
categoric

,row#,NAME OF DATA ELEMENT,dev-category,developer-friendly name,API data type,VARIABLE NAME,VALUE,LABEL,SOURCE,NOTES
11,12,Flag for main campus,school,main_campus,integer,main,0,Not main campus,IPEDS,NaN
12,13,Flag for main campus,school,main_campus,integer,main,1,Main campus,IPEDS,NaN
14,15,Predominant degree awarded\r0 Not class...,school,degrees_awarded.predominant,integer,PREDDEG,0,Not classified,IPEDS,NaN
15,16,Predominant degree awarded\r0 Not class...,school,degrees_awarded.predominant,integer,PREDDEG,1,Predominantly certificate-degree granting,IPEDS,NaN
16,17,Predominant degree awarded\r0 Not class...,school,degrees_awarded.predominant,integer,PREDDEG,2,Predominantly associate's-degree granting,IPEDS,NaN
17,18,Predominant degree awarded\r0 Not class...,school,degrees_awarded.predominant,integer,PREDDEG,3,Predominantly bachelor's-degree granting,IPEDS,NaN
18,19,Predominant degree awarded\r0 Not class...,school,degrees_awarded.predominant,integer,PREDDEG,4,Entirely graduate-degree granting,IPEDS,NaN
19,20,Highest degree awarded\r0 Non-degree-gr...,school,degrees_awarded.highest,integer,HIGHDEG,0,Non-degree-granting,IPEDS,NaN
20,21,Highest degree awarded\r0 Non-degree-gr...,school,degrees_awarded.highest,integer,HIGHDEG,1,Certificate degree,IPEDS,NaN
21,22,Highest degree awarded\r0 Non-degree-gr...,school,degrees_awarded.highest,integer,HIGHDEG,2,Associate degree,IPEDS,NaN
22,23,Highest degree awarded\r0 Non-degree-gr...,school,degrees_awarded.highest,integer,HIGHDEG,3,Bachelor's degree,IPEDS,NaN
23,24,Highest degree awarded\r0 Non-degree-gr...,school,degrees_awarded.highest,integer,HIGHDEG,4,Graduate degree,IPEDS,NaN
24,25,Control of institution,school,ownership,integer,CONTROL,1,Public,IPEDS,NaN
25,26,Control of institution,school,ownership,integer,CONTROL,2,Private nonprofit,IPEDS,NaN
26,27,Control of institution,school,ownership,integer,CONTROL,3,Private for-profit,IPEDS,NaN
27,28,FIPS code for state,school,state_fips,integer,st_fips,1,Alabama,IPEDS,NaN
28,29,FIPS code for state,school,state_fips,integer,st_fips,2,Alaska,IPEDS,NaN
29,30,FIPS code for state,school,state_fips,integer,st_fips,4,Arizona,IPEDS,NaN
30,31,FIPS code for state,school,state_fips,integer,st_fips,5,Arkansas,IPEDS,NaN
31,32,FIPS code for state,school,state_fips,integer,st_fips,6,California,IPEDS,NaN
32,33,FIPS code for state,school,state_fips,integer,st_fips,8,Colorado,IPEDS,NaN
33,34,FIPS code for state,school,state_fips,integer,st_fips,9,Connecticut,IPEDS,NaN
34,35,FIPS code for state,school,state_fips,integer,st_fips,10,Delaware,IPEDS,NaN
35,36,FIPS code for state,school,state_fips,integer,st_fips,11,District of Columbia,IPEDS,NaN
36,37,FIPS code for state,school,state_fips,integer,st_fips,12,Florida,IPEDS,NaN
37,38,FIPS code for state,school,state_fips,integer,st_fips,13,Georgia,IPEDS,NaN
38,39,FIPS code for state,school,state_fips,integer,st_fips,15,Hawaii,IPEDS,NaN
39,40,FIPS code for state,school,state_fips,integer,st_fips,16,Idaho,IPEDS,NaN
40,41,FIPS code for state,school,state_fips,integer,st_fips,17,Illinois,IPEDS,NaN
41,42,FIPS code for state,school,state_fips,integer,st_fips,18,Indiana,IPEDS,NaN
...,...,...,...,...,...,...,...,...,...,...
243,244,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,74,Churches of Christ,IPEDS,Not available after 2005
244,245,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,75,Southern Baptist,IPEDS,Not available after 2005
245,246,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,76,United Church of Christ,IPEDS,Not available after 2005
246,247,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,77,"Protestant, not specified",IPEDS,Not available after 2005
247,248,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,78,Multiple Protestant Denomination,IPEDS,Not available after 2005
248,249,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,79,Other Protestant,IPEDS,Not available after 2005
249,250,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,80,Jewish,IPEDS,Not available after 2005
250,251,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,81,Reformed Presbyterian Church,IPEDS,Not available after 2005
251,252,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,84,United Brethren Church,IPEDS,Not available after 2005
252,253,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,87,Missionary Church Inc,IPEDS,Not available after 2005
253,254,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,88,Undenominational,IPEDS,Not available after 2005
254,255,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,89,Wesleyan,IPEDS,Not available after 2005
255,256,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,91,Greek Orthodox,IPEDS,Not available after 2005
256,257,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,92,Russian Orthodox,IPEDS,Not available after 2005
257,258,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,93,Unitarian Universalist,IPEDS,Not available after 2005
258,259,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,94,Latter Day Saints (Mormon Church),IPEDS,Not available after 2005
259,260,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,95,Seventh Day Adventists,IPEDS,Not available after 2005
260,261,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,97,The Presbyterian Church in America,IPEDS,Not available after 2005
261,262,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,99,Other (none of the above),IPEDS,Not available after 2005
262,263,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,100,Original Free Will Baptist,IPEDS,Not available after 2005
263,264,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,101,Ecumenical Christian,IPEDS,Not available after 2005
264,265,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,102,Evangelical Christian,IPEDS,Not available after 2005
265,266,Religous affiliation of the institution,school,religious_affiliation,integer,RELAFFIL,103,Presbyterian,IPEDS,Not available after 2005
329,330,Certificate of less than one academic year in ...,academics,program.certificate_lt_1_yr.agriculture,integer,CIP01CERT1,0,Program not offered,IPEDS,Not available after 2005
330,331,Certificate of at least one but less than two ...,academics,program.certificate_lt_2_yr.agriculture,integer,CIP01CERT2,1,Program offered,IPEDS,Not available after 2005
331,332,"Associate degree in Agriculture, Agriculture O...",academics,program.assoc.agriculture,integer,CIP01ASSOC,2,Program offered through an exclusively distanc...,IPEDS,Not available after 2005
519,520,Flag for distance-education-only education,school,online_only,integer,DISTANCEONLY,0,Not distance-education only,IPEDS,Not available after 2005
520,521,Flag for distance-education-only education,school,online_only,integer,DISTANCEONLY,1,Distance-education only,IPEDS,Not available after 2005
546,547,"Flag for currently operating institution, 0=cl...",school,operating,integer,CURROPER,0,Not currently certified as an operating instit...,FSA,Not available after 2005
547,548,"Flag for currently operating institution, 0=cl...",school,operating,integer,CURROPER,1,Currently certified as operating,FSA,Not available after 2005

In [8]:
categoric_vals = categoric.groupby(["VARIABLE NAME"]).groups

In [9]:
categoric_vals.keys()

['LOCALE',
 'CURROPER',
 'ANNHI',
 'CCSIZSET',
 'RELAFFIL',
 'locale2',
 'CONTROL',
 'CIP01CERT2',
 'CIP01CERT1',
 'PREDDEG',
 'NANTI',
 'HSI',
 'WOMENONLY',
 'HBCU',
 'main',
 'st_fips',
 'AANAPII',
 'HIGHDEG',
 'PBI',
 'CCBASIC',
 'region',
 'CCUGPROF',
 'CIP01ASSOC',
 'MENONLY',
 'DISTANCEONLY',
 'TRIBAL']

In [10]:
def replace(x):
    try:
        return rep[x] # fails on nan or undefined which is good
    except:
        return x

In [11]:
# get the replacement values for a categoric value
def replace_categoric_vals(df, categoric_vals):
    for key in categoric_vals:
        #print key
        replacement = categoric.groupby(["VARIABLE NAME"]).get_group(key)[["VALUE", "LABEL"]].set_index("VALUE").to_dict()['LABEL']
        rep = dict((int(key), value) for (key, value) in replacement.items())
        df[key] = df[key].apply(replace) # apply function above using latest rep dict
    return df

## This bit is me practicing on one file, you can skip it

In [25]:
# result is strings in place of int codes
big["LOCALE"].head()

0    City: Midsize (population of at least 100,000 ...
1    City: Midsize (population of at least 100,000 ...
2    City: Midsize (population of at least 100,000 ...
3    City: Midsize (population of at least 100,000 ...
4    City: Midsize (population of at least 100,000 ...
Name: LOCALE, dtype: object

## Do This: Get the Vars by Type

In [12]:
vars = pd.read_csv("vars_in_data.csv")

In [13]:
vars.head()

   colnumber     var dev-category
0          1  UNITID         root
1          2   OPEID         root
2          3  opeid6         root
3          4  INSTNM       school
4          5    CITY       school

In [14]:
# stuff to id the school for each subset of cols
schoolidvars = range(0,4)
schoolidvars

sections = [ ['school', 'root'], ['cost'], ['aid'], ['earnings'], 
            ['repayment'], ['student'], ['completion']]

## Skip this, it's practice on one file: Now do subsets of the data by var sets

In [16]:
# Cols for the school data

schoolvars = list(vars[vars['dev-category'].isin(['school', 'root'])].colnumber.values)

# Cost Related

costvars = list(vars[vars['dev-category'].isin(['cost'])].colnumber.values)

aidvars = list(vars[vars['dev-category'].isin(['aid'])].colnumber.values)

earningsvars = list(vars[vars['dev-category'].isin(['earnings'])].colnumber.values)

repaymentvars = list(vars[vars['dev-category'].isin(['repayment'])].colnumber.values)

studentvars = list(vars[vars['dev-category'].isin(['student'])].colnumber.values)

completionvars = list(vars[vars['dev-category'].isin(['completion'])].colnumber.values)

In [17]:
#for varlist in sections:
#    filename = varlist[0]
#    colIds = list(vars[vars['dev-category'].isin(varlist)].colnumber.values)
#    section = big.iloc[:, schoolidvars + colIds].copy()]

In [293]:
aidtable = big.iloc[:,schoolidvars + aidvars].copy()  # get a subset of the aid cols

In [294]:
aidtable['Year'] = "2013"  # add a year col

In [295]:
aidtable.head()

,﻿UNITID,OPEID,opeid6,INSTNM,PCTPELL,RET_FT4,IND_YR8_N,FEMALE_YR8_N,MALE_YR8_N,PELL_YR8_N,...,DEP_DEBT_N,IND_DEBT_N,PELL_DEBT_N,NOPELL_DEBT_N,FEMALE_DEBT_N,IND_RPY_7YR_N,pct90_earn_wne_p8,sd_earn_wne_p8,gt_25k_p8,Year
0,100654,100200,1002,Alabama A & M University,0.7115,0.6314,NaN,NaN,NaN,NaN,...,2084,393,2163,314,1313,476,NaN,NaN,NaN,2013
1,100663,105200,1052,University of Alabama at Birmingham,0.3505,0.8016,NaN,NaN,NaN,NaN,...,3818,2097,3737,2178,3760,1352,NaN,NaN,NaN,2013
2,100690,2503400,25034,Amridge University,0.6839,0.3750,NaN,NaN,NaN,NaN,...,NaN,440,421,NaN,295,295,NaN,NaN,NaN,2013
3,100706,105500,1055,University of Alabama in Huntsville,0.3281,0.8098,NaN,NaN,NaN,NaN,...,1638,987,1707,918,1374,651,NaN,NaN,NaN,2013
4,100724,100500,1005,Alabama State University,0.8265,0.6219,NaN,NaN,NaN,NaN,...,3386,749,3756,379,2401,518,NaN,NaN,NaN,2013

In [296]:
aidtable.to_csv("2013/aid.csv")  # save it in a new dir

In [26]:
files = !ls Archive-collegescorecard/clean_*.csv

In [27]:
files

['Archive-collegescorecard/clean_MERGED1996_PP.csv',
 'Archive-collegescorecard/clean_MERGED1997_PP.csv',
 'Archive-collegescorecard/clean_MERGED1998_PP.csv',
 'Archive-collegescorecard/clean_MERGED1999_PP.csv',
 'Archive-collegescorecard/clean_MERGED2000_PP.csv',
 'Archive-collegescorecard/clean_MERGED2001_PP.csv',
 'Archive-collegescorecard/clean_MERGED2002_PP.csv',
 'Archive-collegescorecard/clean_MERGED2003_PP.csv',
 'Archive-collegescorecard/clean_MERGED2004_PP.csv',
 'Archive-collegescorecard/clean_MERGED2005_PP.csv',
 'Archive-collegescorecard/clean_MERGED2006_PP.csv',
 'Archive-collegescorecard/clean_MERGED2007_PP.csv',
 'Archive-collegescorecard/clean_MERGED2008_PP.csv',
 'Archive-collegescorecard/clean_MERGED2009_PP.csv',
 'Archive-collegescorecard/clean_MERGED2010_PP.csv',
 'Archive-collegescorecard/clean_MERGED2011_PP.csv',
 'Archive-collegescorecard/clean_MERGED2012_PP.csv',
 'Archive-collegescorecard/clean_MERGED2013_PP.csv']

### Main Loop: Do this after you did the ones above that say "Do This"
I made a dir of "years" with individual year dirs under that. See code above.

You also need to run the stuff above to get the categoric values defined (using the 2 files for the variables) and the columns for the sections.

Variables you need to define by running those cells first:

* import pandas as pd, numpy as np -- run that cell on top
* years
* sections, schoolidvars
* path
* function replace_categoric_vals

In [15]:
years = range(1996, 2014)
path = "clean_MERGED"

In [17]:
# If you didn't make the directories for the years yet - this will put them in the directory you are in now
for year in years:
    !mkdir years/$year

In [18]:
ls years

1996/ 1998/ 2000/ 2002/ 2004/ 2006/ 2008/ 2010/ 2012/
1997/ 1999/ 2001/ 2003/ 2005/ 2007/ 2009/ 2011/ 2013/

In [19]:
# stuff to id the school for each subset of cols
schoolidvars = range(0,4)
schoolidvars

sections = [ ['school', 'root'], ['cost'], ['aid'], ['earnings'], 
            ['repayment'], ['student'], ['completion']]

In [20]:
for year in years:
    print "doing year: " + str(year)
    big = pd.read_csv(path + str(year) + "_PP.csv")  # path to your output from the sed script
    big = replace_categoric_vals(big, categoric_vals)
    for varlist in sections:
        filenamebase = varlist[0]
        colIds = list(vars[vars['dev-category'].isin(varlist)].colnumber.values)
        section = big.iloc[:, schoolidvars + colIds].copy()
        section[str(year)] = year
        section.to_csv("years/" + str(year) + "/" + filenamebase + "_" + str(year) + ".csv")

doing year: 1996
doing year: 1997
doing year: 1998
doing year: 1999
doing year: 2000
doing year: 2001
doing year: 2002
doing year: 2003
doing year: 2004

/Users/Nicolas/miniconda2/envs/csv/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Nicolas/miniconda2/envs/csv/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (1,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

doing year: 2005
doing year: 2006
doing year: 2007
doing year: 2008
doing year: 2009
doing year: 2010
doing year: 2011
doing year: 2012
doing year: 2013

/Users/Nicolas/miniconda2/envs/csv/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)